@(person: Form[PersonForm])(implicit request: RequestHeader, messages: Messages)

@import helper._

@main("Add Person") {

  @form(CSRF(routes.PersonController.addPerson())) {
		@inputText(person("name"))
		@inputText(person("age"))
		@inputRadioGroup(
		    person("sex"),
		    options = Seq("M"->"Male","F"->"Female"),
		    '_label -> "Sex",
		    '_error -> person("sex").error.map(_.withMessage("select sex")))

		<div class="buttons">
			<input type="submit" value="Add Person"/>
		</div>
	}
}
